.login-page{
  width: 400px;
  height: 400px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: auto;
  margin-top: 85px;
  padding: 45px;
  .ant-btn{
    height: 100px;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 45px;
    color: white;
    font-weight: bold;
    font-size: 22px;
  }
  .github{
    background-color: rgb(122, 240, 88);
  }
  .facebook{
    background-color: rgb(51, 153, 255);
  }
}